<%= link_to "Download "+@project.document_file_name, user_project_path(@user, @project) %><br>
<pre>
  <%= @file %>
</pre>


<p>
  <%= link_to "Edit Project", edit_user_project_path %> |
  <%= link_to "View All Projects", '#'  %> |
  <%= link_to "Delete Project", '#' %>
</p>



